.card-img-top{
    height: 250px;
    object-fit: cover;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloP{
    color: #0d6efd;
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 16vh;
}


.imagen{
    display: flex;
    justify-content: center;
    width:100%

}

.tituloForums{
    color: #0d6efd;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.imagenP{
    display: flex;
    justify-content: center;
    align-items: center;
    width:20%;
}

.imagen_p{    
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.imagen_nosotros{    
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.imagenN{
    display: flex;
    justify-content: center;
    align-items: center;
    width:15%;
}
