<%- include('partials/header') -%>
<%- include('partials/navegation') -%>

<header class="d-flex justify-content-center">
    <h2 class="tituloP">Nos encontramos en mantenimiento!</h2><br>        
</header>

<main>
<div class="imagen_nosotros">
    <img class="imagenN" src="/img/mantenimiento2.png" alt="">
</div>

<header class="d-flex justify-content-center">
    <h2 class="tituloP">Vuelve en unos minutos!</h2><br>        
</header>
</main>

<%- include("partials/footer") -%>